.content-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

@media screen and (min-width: 1200px) {
    .homeContainer {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .homeContainer {
        width: 500px;
    }
}