.content-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
    
    
}

@media screen and (min-width: 800px) {
    .homeContainer {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .homeContainer {
        width: 500px;
    }
}