.content-container{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
    justify-content:flex-start;

    
    
}

/* @media screen and (min-width: 900px) {
    .homeContainer {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .homeContainer {
        width: 600px;
    }
} */