.stars {
    display: flex;
    padding-bottom: 4px;
    
}

.stars.disabled{
    pointer-events:revert-layer;
}
.stars a {
    opacity: 50%;
    cursor: pointer;
    padding: 3px;

}

.stars {
    opacity: 100%;
}

.stars:hover a {
    opacity: 100%;
}

.stars a:hover {
    opacity: 100%;
}

.stars a:hover ~ a {
    opacity: 50%;
}

.stars a.active {
    opacity: 100%;
}

.reviewForm {
    display: flex;
    align-self: flex-start;
    /* padding-left: 20%; */
    padding-bottom: 0;
    margin-bottom: 0;
    
 
}

#review-form{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 10%;
    border-style: dotted;
    border-radius: 10px;
    border-color: #ebebeb;
    

}

.create-review-button {
    position: relative;
    top: 10%;
    border-radius: 15px;
    border-width: thin;
    border-color: #bbb;
    background-color: white;
    margin-top: 0%;
}

.create-review-button:hover {
    background-color:#FF385C;
}

.reviewbox{
    border-radius: 10px;
    height: 50px;
    width: 280px;
    resize: none;
}

/* fieldset {
    border-style: dotted;
} */



.rating {
    /* float:right; */
    border:none;
    padding-bottom: 0%;
    margin-bottom: 0%;
    position: relative;
    right: 27%;


}

.rating:not(:checked) > input {
    position:absolute;
    /* top:-9999px; */
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:130%;
    /* line-height:1.2; */
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color:  gold;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: gold;
    
}
.rating > label:active {
    position:relative;
}


/* new review form */
.star-rating button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.on {
    color: #000;
  }
  .off {
    color: #ccc;
  }

  .review-content-div textarea{
    resize: none;
  }

  .review-title{
    text-align: center;
    border-bottom: 1px dotted;
    border-color: gray;
    padding-bottom: 5%;
  }

  .review-pic-name{
    display: flex;
    border-bottom: 1px dotted;
    border-color: gray;
    padding-bottom: 5%;
  }

  .star{
    font-size: 25px;
  }

  .star-rating{
    margin-top: 5%;
    text-align: center;
  }
  .review-content-div{
    margin-top: 5%;
    text-align: center;
  }

.review-btn-div{
  display: flex;
  justify-content: center;

}
  .review-submitbtn{
   margin-top: 10%;
   padding: 9px 25px;
   background: rgba(241,100,30);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 03.s ease 0s;
  }