.detailspot-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
}

.title-info{
    display: flex;
    justify-content: space-between;
}


hr.dotted {
    border-top: 3px dotted #bbb;
  }


.reviewBox {
    border-style: solid;
    border-radius: 10px;
    border-color: #bbb;
    margin-bottom: 10%;
}