.hosting-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
   
}

.create-button{
    height: 200px;
    width: 300px;
    border-radius: 15px;
    position: relative;
    margin-top: 4.5%;
    margin-right: 25px;
}

img {
    height: 200px;
    border-radius: 15px;

}
.spot-card {
    margin-right: 25px;
}

.delete-button {
    background-color: gray;
    margin-top: 10px;
    border-radius: 15px;
    border-color: #666F7A;
    border-width: thin;
    width: 60px;
 

}

.edit-button {
    position: relative;
    left: 50%;
    bottom:4%;
    background-color: #ff5a60;
    border-radius: 15px;
    border-color: #666F7A;
    border-width: thin;
    width: 60px;

}

.delete-button:hover {
    background-color:grey
}

.edit-button:hover {
    background-color:palevioletred
}