.hosting-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
   
}

.create-button{
    height: 200px;
    width: 300px;
    border-radius: 15px;
    position: relative;
    margin-top: 4%;
}

img {
    height: 200px;
    border-radius: 15px;

}

.delete-button {
    margin-top: 10px;
    background-color:white;
    border-radius: 15px;
    border-color: #666F7A;
    border-width: thin;
    width: 60px;

}

.edit-button {
    position: relative;
    left: 50%;
    bottom:4%;
    background-color:white;
    border-radius: 15px;
    border-color: #666F7A;
    border-width: thin;
    width: 60px;
}

.delete-button:hover {
    background-color: #ff5a60;
}

.edit-button:hover {
    background-color: #ff5a60;
}