/* .biggest-nav-containe{
    max-width: 3423;
    background-color: #ff5a60;
} */

.navigation-container {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color: #ebebeb;
    padding-left: 12%;
    padding-right: 13%;
    padding-bottom: 15px;
    padding-top: 15px;
    max-width: 2520px;
}


.home-icon {
    height: 30px;
    width: 100px;
}

.signup-button {
   
    border: solid;
    border-color: #ebebeb;
    margin-right: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 5px 15px 5px 15px;
}

.signup-button:hover {
    background-color:#ff5a60;
    transition: 0.7s;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    background-color:white;
    right: 2%;
    top: 25.5px;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 15px;
    display: none;
    z-index: 1;
    pointer-events: auto;
    width:250px;
    font-size: 12-px;
    text-align: left;
   
}

 .dropdown:hover .dropdown-menu {
    display: block;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
        border-radius: 15px;} 

.dropdown-button {
    background-color:white;
    color: #666F7A;
    padding: 3px 6px 3px 10px;
    font-size: 16px;
    border: solid;
    border-radius: 15px;
    border-width: thin

}
.dropdown-button:hover {
    cursor: pointer;
}


#line-icon {
    padding-right: 10px;
}


ul {
    list-style-type: none;
    text-align: left;  
}

.logout-button {
    margin-top: 10px;
    background-color:white;
    border-radius: 15px;
    border-color: #666F7A;
    border-width: thin

}

.logout-button:hover{
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ff5a60;
}

.to-host-page {
    color: black;
    font-size: 14px;
}

.to-host-page:hover {
    color:#ff5a60
}


.myreview-click{
    color: black;
    font-size: 14px;
    padding-top: 3px;
}

.myreview-click:hover {
    color:#ff5a60
}

hr {
    color: #ebebeb;
}

.username-email{
    font-size: 12px;
}